{% extends 'base.html.twig' %}

{% block title %}New Logistic{% endblock %}

{% block content %}
    <h1>Create new Logistic</h1>

    {{ include('logistic/_form.html.twig') }}

    <a href="{{ path('app_logistic_index') }}">back to list</a>
{% endblock %}
