{# templates/registration/register.html.twig #}

{% extends 'U_base.html.twig' %}
{% block titre %} Sign Up {% endblock %}
{% block content %}


    <div class="d-flex flex-column-fluid flex-lg-row-auto justify-content-center justify-content-lg-end p-12">
        <!--begin::Wrapper-->

        <div class="d-flex flex-lg-row-fluid">
            <!--begin::Content-->
            <div class="d-flex flex-column flex-center pb-0 pb-lg-10 p-10 w-100">
                <!--begin::Image-->
                <img class="theme-light-show mx-auto mw-100 w-200px w-lg-400px mb-10 mb-lg-20" src="{{ asset('media/auth/logo.png')}}" alt="" />
                <!--end::Image-->
                <!--begin::Title-->
                <!--end::Title-->
                <!--begin::Text-->
                <!--end::Text-->
            </div>
            <!--end::Content-->
        </div>

        <div class="bg-body d-flex flex-column flex-center rounded-4 w-md-600px p-8">


            <!--begin::Content-->
            <div class="d-flex flex-center flex-column align-items-stretch h-lg-100 w-md-400px">




                <!--begin::Wrapper-->
                <div class="d-flex flex-center flex-column-fluid pb-15 pb-lg-20">


                    <form class="form w-100" novalidate="novalidate" id="kt_password_reset_form" action="{{ path('forgotpassemail') }}" method="post">
                        <!--begin::Heading-->
                        <div class="text-center mb-10">
                            <!--begin::Title-->
                            <h1 class="text-dark fw-bolder mb-3">Forgot Password?</h1>
                            <!--end::Title-->
                            <!--begin::Link-->
                            <div class="text-gray-500 fw-semibold fs-6">Enter your email to reset your password.</div>
                            <!--end::Link-->
                        </div>
                        <!--end::Heading-->
                        <!--begin::Input group=-->
                        <div class="fv-row mb-8">
                            <!--begin::Email-->
                            <input type="text" placeholder="Email" name="email" autocomplete="off" class="form-control bg-transparent" />
                            <!--end::Email-->
                            <!--begin::Error message for email-->
                            <div id="emailError" class="text-danger">
                                {% if app.request.method == 'POST' %}
                                    {% if app.request.get('email') %}
                                        Email not found. Please check your email address.
                                    {% else %}
                                        Email not found. Please check your email address.
                                    {% endif %}
                                {% endif %}
                            </div>

                            <!--end::Error message for email-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Actions-->
                        <div class="d-flex flex-wrap justify-content-center pb-lg-0">
                            <button class="btn btn-primary me-4" type="submit">
                                Submit
                            </button>
                            <a href="{{ path('app_login') }}" class="btn btn-light">Cancel</a>
                        </div>
                        <!--end::Actions-->
                    </form>
                    <!--end::Form-->

                </div>
                <!--end::Wrapper-->
                <!--begin::Footer-->
                <div class="w-lg-500px d-flex flex-stack">


                </div>
                <!--end::Footer-->
            </div>
            <!--end::Content-->
        </div>
        <!--end::Wrapper-->
    </div>

    </div>
    </body>

{% endblock %}
{% block js %}

    <script src="{{ asset('js/custom/authentication/sign-up/general.js') }}"></script>
{% endblock %}