{% extends 'base.html.twig' %}

{% block title %}New Topics{% endblock %}

{% block content %}
    <h1>Create new Topics</h1>

    {{ include('topics/_form.html.twig') }}

    <a class="back-button" href="{{ path('app_session_index') }}">Back to Session list</a>
{% endblock %}
