{% extends 'base.html.twig' %}

{% block title %}Edit Session{% endblock %}

{% block content %}
    <h1>Edit Session</h1>

    {{ include('session/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="back-button" href="{{ path('app_session_index') }}">Back to list</a>


{% endblock %}
