{% extends 'base.html.twig' %}

{% block title %}Edit Uidcard{% endblock %}

{% block content %}
    <h1>Edit Uidcard</h1>

    {{ include('uidcard/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_uidcard_index') }}">back to list</a>

    {{ include('uidcard/_delete_form.html.twig') }}
{% endblock %}
