{% extends 'base.html.twig' %}
{% block title %}New Conference{% endblock %}
{% block step %}
    <div class="step-bar">
        <a class="step-button">Conference Details</a>
        <a class="step-button">Sessions</a>
        <a class="step-button">Topics</a>
        <a class="step-button">Sponsoring</a>
    </div>
{% endblock %}
{% block content %}

{% block body %}
    <h1>Create New Conference</h1>
    
    {{ include('conference/_form.html.twig') }}

    <a class="back-button" href="{{ path('app_conference_index') }}">back to list</a>
{% endblock %}
{% endblock %}
